body {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
h1 {
    font-weight: 200;
    font-size: 1.5em;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
}
h2, h4 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    
}
header div {
    text-align: center;
    margin-top: 2em;
}
header div p {
    margin: auto;
    width: 50%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}
.tile {
    background-color: white;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.1);
    width: 19em;
    height: 12.5em;
    border-radius: 5px;
    border-top: 3px solid;
    padding-left: 1em;
    padding-right: 1em;
    
}
.tile h4 {
    margin-bottom: 0px;
}
.tile p {
    margin-top: 0px;
}
.tile img {
    padding-left: 12em;
    padding-top: .5em; 
}
.supervisor {
    margin-right: 26px;
    border-top-color: hsl(180, 62%, 55%);
}
.team-builder {
    border-top-color: hsl(0, 78%, 62%);
}
.karma {
    margin-top: 26px;
    border-top-color: hsl(34, 97%, 64%);
}
.calculator {
    margin-left: 26px;
    border-top-color: hsl(212, 86%, 64%);
}